<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

    <header>
        <h1>Kulinerku </h1>
        <nav>
            <a href="/">Home</a>
            <a href="/menu">Menu</a>
            <a href="/keranjang-belanja">Pesanan Saya</a>
            <a href="/login">Profil</a>
        </nav>
    </header>
    <div class="admin-orders">
        <h2>Pesanan Masuk</h2>
        <div class="order">
            <p>Pesanan 1</p>
            <button>Perbarui Status</button>
        </div>
        <div class="order">
            <p>Pesanan 2</p>
            <button>Perbarui Status</button>
            
        </div>
        <h2>Detail Pesanan</h2>
        <p>Pesanan 1: Ayam Lalapan - Qty: 1</p>
        <p>Pesanan 2: Nasi Goreng - Qty: 2</p>
        <button>Perbarui Status</button>
    </div>
        </div>
        <h2>Status Pesanan</h2>
        <p>Pesanan 1: Sedang Diproses</p>
        <p>Pesanan 2: Telah Dikirim</p>
        </div>

</body>
</html>
