<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

    <div id="login">
        <h2>LOGIN KHUSUS ADMIN</h2>
        <label for="username">Username/Email:</label><p>
        <input type="text" id="username"><p>
        <label for="password">Password:</label><p>
        <input type="password" id="password"><p>
        <a href ="/admin"><button>Masuk</button></a></p>
        <a href="#">Daftar</a> | <a href="#">Lupa Password</a>
    </div>

</body>
</html>
