<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Status Pesanan</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

    <header>
        <h1>Kulinerku </h1>
        <nav>
            <a href="/">Home</a>
            <a href="/menu">Menu</a>
            <a href="/keranjang-belanja">Pesanan Saya</a>
            <a href="/login">Profil</a>
        </nav>
    </header>
    <div class="status">
        <h2>Status Pesanan</h2>
        <p>Pesanan 1: Sedang Diproses</p>
        <p>Pesanan 2: Telah Dikirim</p>
        <a href ="http://127.0.0.1:5000"><button>Kembali</button></a>
    </div>


</body>
</html>
